*{
    padding: auto;
    margin: 0px;
}

html,body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.background{
    background-color: black;
    top: 200px;
    position: absolute;
}

.lable {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 38px;
    left: 180px;
    top: 269px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.lable_1 {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 38px;
    left: 180px;
    top: 330px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.lable_2 {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 38px;
    left: 180px;
    top: 391px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.lable_3 {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 500px;
    height: 38px;
    left: 180px;
    top: 451px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.text_1 {
    position: absolute;
    color: rgb(28, 13, 189);
    width: 200px;
    height: 44px;
    left: 279px;
    top: 184px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.Submit {
    position: absolute;
    color: rgb(28, 13, 189);
    width: 121px;
    height: 39px;
    left: 262px;
    top: 500px;
    font-weight: 600;
    font-size: 60px;
    line-height: 39px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.text_2 {
    position: absolute;
    color: rgb(28, 13, 189);
    width: 144px;
    height: 44px;
    left: 986px;
    top: 184px;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.lable_4 {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 43px;
    left: 920px;
    top: 320px;
    border: 1px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.lable_5 {
    position: absolute;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 48px;
    left: 920px;
    top: 400px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.Submit_1 {
    position: absolute;
    color: rgb(28, 13, 189);
    width: 100px;
    height: 39px;
    left: 1000px;
    top: 500px;
    font-weight: 600;
    font-size: 60px;
    line-height: 39px;
    font-style: bold;
    line-height: 19px;
    background-color: white;
}

.home {
    position: absolute;
    color: #84858B;
    width: 90px;
    height: 39px;
    left: 720px;
    top: 61px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
}

.portfolio {
    position: absolute;
    color: #84858B;
    width: 83px;
    height: 24px;
    left: 810px;
    top: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    text-decoration:none;
}

.book {
    position: absolute;
    color: #84858B;
    width: 49px;
    height: 24px;
    left: 940px;
    top: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line:underline;
}

.services{
    position: absolute;
    color: #84858B;
    width: 85px;
    height: 24px;
    left: 1035px;
    top: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line:underline;
}

.about {
    position: absolute;
    color: #84858B;
    width: 60px;
    height: 24px;
    left: 1150px;
    top: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line:underline;
}

.contact {
    position: absolute;
    color: #84858B;
    width: 78px;
    height: 24px;
    left: 1245px;
    top: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line:underline;
}

.login {
    position: absolute;
    color: #84858B;
    width: 139px;
    height: 24px;
    left: 1350px;
    top: 62px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line:underline;
}

.text_0 {
    position: absolute;
    color: black;
    width: 104px;
    height: 80px;
    left: 30px;
    top: 45px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    font-style: bold;
}
